.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
    font-family: Montserrat, sans-serif;
}

.btn-pagina {
    background-color: #ffd966;
    color: white;
    text-shadow: 1px 1px 2px gray;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s;
   
}

    .btn-pagina:hover:not(:disabled) {
        background-color: #fbc959;
        transform: scale(1.05);
    }

    .btn-pagina:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

.numero-pagina {
    font-weight: 600;
    color: #333;
    padding:10px;
}
body {
    font-family: Montserrat, sans-serif;
    background: url('../img/FondoConsultarUsu.png') repeat;
    margin: 0;
    padding: 0;
}
main{
    margin-top:9%;
    margin-bottom:4%;
   
}


.contenedor-principal {
    width: 95%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.imagen-logo {
    width: 40px;
}

.azul {
    color: #0c7fc1;
}

.amarillo {
    color: #f9a825;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #0c7fc1;
}

    .usuario i {
        font-size: 28px;
        color: #f9a825;
    }

/* ===== TÍTULO ===== */
.titulo {
    text-align: center;
    color: #f9bb65;
    text-shadow: 3px 3px #1e5778;
    margin: 10px 0;
    font-size:2.6em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, /* Sombra suave */
    4px 3px 0px #1e5778;
}

/* ===== BÚSQUEDA ===== */
.busqueda {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

    .busqueda input {
        font-family: Montserrat, sans-serif;
        width: 40%;
        padding: 12px;
        border-radius: 60px;
        border: 1px solid #ccc;
        outline: none;
    }

    .busqueda button {
        background: none;
        border: none;
        margin-left: -35px;
        cursor: pointer;
        color: #0c7fc1;
        font-size: 16px;
    }

.caja-filtro-img {
    width: 20%;
    margin-left:80%;
    margin-top:0px;
}
/* ===== CONTENIDO ===== */
.contenido {
    display: flex;
    gap: 15px;
}
.caja-tabla {
    flex: 0.8;
    margin-right:-30px;

}
/* ===== TABLA ===== */
.tabla-usuarios {
    width:92%;
    margin-left: 35px;
    border-collapse: collapse;
    background: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 2px 6px #0002;
    margin-top:-28%;
}

    .tabla-usuarios thead {
        background: #fac858;
        color: white;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
    }

    .tabla-usuarios th,
    .tabla-usuarios td {
        padding: 10px;
        border: 1px solid #eee;
        text-align: center;
   
    }

    .tabla-usuarios tbody tr:nth-child(even) {
        background: #fdf6e3;
    }



/* ===== BOTONES ===== */
.boton-editar, .boton-eliminar {
    border: none;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    color: black;
}

.boton-editar a {
    background: #ffe082;
    margin-right: 5px;
    color: black;
    
}
.boton-editar{
    background-color:transparent;
}
.boton-editar a:hover {
    background: #f5cf5b;
}

.boton-eliminar {
    background: #ef9a9a;
}
    .boton-eliminar:hover {
        background: #e67a7a;
    }
.boton-ver {
    background: #9ad6ed;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    
}
    .boton-ver:hover {
        cursor: pointer;
        background: #61b4d4;
    }
/* ===== FILTROS ===== */
.caja-filtro-img {
    flex: 0.8;
    padding-right: 30px;

   

}
.panel-filtros {
   
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 2px 6px #0002;
    color: #333;
    margin-right: 98px;
    width: 100%;
}
.imagen-filtros {
    text-align: center;
    margin-bottom: -10px;
    margin-top: -140px;
}

    .imagen-filtros img {
        width: 150px;
        height: auto;
        margin-right: 50px;
        margin-bottom:10px;
    }

    .panel-filtros h3 {
        margin-top: 0;
        color: #333;
        font-size:1em;
    }

    .panel-filtros label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
        font-size: 0.99em;
    }

    .panel-filtros select {
        width: 100%;
        padding: 6px;
        border-radius: 15px;
        border: 1px solid #ccc;
        margin-top: 4px;
        font-family: Montserrat, sans-serif;
    }
.btn-aplicar {
    background:#ffe082;
    border-radius:20px;
    border:none;
    padding:5px 10px;
    box-shadow:3px 4px 0px rgba(0,0,0,0.3);
    margin-top:15px;
    margin-left:10%;
    font-weight:600;
    color: rgba(0,0,0,0.6);
    width:80%;

}
    .btn-aplicar:hover {
        cursor: pointer;
        background: #f5cf5b;
    }



    tr td img {
        width: 200px;
    }

.btn-volver-todos {
    margin-top: 0px;
    box-shadow: 2px 4px 3px gray;
    padding: 10px 0px;
    background: #7ec0e0;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    width: 25%;
    font-weight: 600;
    color: white;
    font-size: 0.91em;
}

    .btn-volver-todos:hover {
        cursor: pointer;
        background-color: #61b4d4;
    }