body {
    font-family: Montserrat, sans-serif;
    background: url('../img/FondoConsultarUsu.png') repeat;
    margin: 0;
    padding: 0;
}
main{
    margin-top:9%;
    margin-bottom:4%;
}
.contenedor-principal {
    width: 95%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.imagen-logo {
    width: 40px;
}

.azul {
    color: #0c7fc1;
}

.amarillo {
    color: #f9a825;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #0c7fc1;
}

    .usuario i {
        font-size: 28px;
        color: #f9a825;
    }

/* ===== TÍTULO ===== */
.titulo {
    text-align: center;
    color: #f9bb65;
    text-shadow: 3px 3px #1e5778;
    margin: 10px 0;
    font-family: 'League Spartan', sans-serif;
}

/* ===== BÚSQUEDA ===== */
.busqueda {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

    .busqueda input {
        font-family: Montserrat, sans-serif;
        width: 40%;
        padding: 12px;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
    }

    .busqueda button {
        background: none;
        border: none;
        margin-left: -35px;
        cursor: pointer;
        color: #0c7fc1;
        font-size: 16px;
    }

/* ===== CONTENIDO ===== */
.contenido {
    display: flex;
    gap: 15px;
}
.caja-tabla {
    flex: 1;
}
/* ===== TABLA ===== */
.tabla-usuarios {
   
    margin-left: 20px;
    border-collapse: collapse;
    background: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 2px 6px #0002;
}

    .tabla-usuarios thead {
        background: #fac858;
        color: white;
    }

    .tabla-usuarios th,
    .tabla-usuarios td {
        padding: 10px;
        border: 1px solid #eee;
        text-align: center;
    }

    .tabla-usuarios tbody tr:nth-child(even) {
        background: #fdf6e3;
    }

/* ===== BOTONES ===== */
.boton-editar, .boton-eliminar {
    border: none;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.boton-editar {
    background: #ffe082;
    margin-right: 5px;
}

.boton-eliminar {
    background: #ef9a9a;
}

/* ===== FILTROS ===== */
.caja-filtro-img {
    flex: 0.3;
}
.panel-filtros {
   
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 2px 6px #0002;
    color: #333;
    margin-right: 20px;
}
.imagen-filtros {
    text-align: center;
    margin-bottom: -10px;
    margin-top: -125px;
}

    .imagen-filtros img {
        width: 150px; 
        height: auto;
       
    }

    .panel-filtros h3 {
        margin-top: 0;
        color: #333;
        font-size:1em;
    }

    .panel-filtros label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
        font-size: 0.99em;
    }

    .panel-filtros select {
        width: 100%;
        padding: 6px;
        border-radius: 15px;
        border: 1px solid #ccc;
        margin-top: 4px;
        font-family: Montserrat, sans-serif;
    }
/*POPUP*/
.popup {
  display: none; /* oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* capa oscura */
  justify-content: center;
  align-items: center;
}

.popup-contenido {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-contenido button {
  margin: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-si {
    background-color: #219084;
    color: white;
}

#btn-no {
    background-color: #eb6b66;
    color: white;
}
