@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

body {
    background: #fff4d9;
}
.perfil-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 740px;
    padding: 20px;
    gap: 15px;
    margin-top:5.8%;
}
.perfil-container2{
    height:750px;
}

/* Panel izquierdo */
.perfil-left {
    flex: 1.6;
    background: url('../img/FondoEditar.png') repeat;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    justify-content: flex-start;
    padding: 8px 10px; 
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    height: auto; 
}

    .perfil-left .avatar {
        padding: 8px;
        border-radius: 50%;
        border: 6px solid white;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        margin-top:10px;
        
    }

        .perfil-left .avatar img {
            width: 240px;
            height: auto;
            border-radius: 50%;
        }

.nombre-tutorado {
    margin-top: 15px;
    background: #367172;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: default;
    box-shadow: 0 4px 6px rgba(0,0,0,0.7);
    box-shadow: 5px 7px white;
}
/* Avatares */
.avatar-selector {
    margin-top: 10px;
    text-align: center;
}
    .avatar-selector p {
        font-family: Montserrat, sans-serif;
        margin-bottom:5px;
        color:#333;
        font-weight:600;
        margin-top:20px;

    }
.avatar-opciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    border-radius: 50%;
}

    .avatar-opciones label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50%;
    }

    .avatar-opciones input {
        display: none;
      
    }

    .avatar-opciones img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: border 0.3s ease;
    
    }

    /* Cuando el usuario selecciona un avatar */
    .avatar-opciones input:checked + img {
        padding: 3px;
        border: 2.9px solid rgba(30, 42, 120, 0.8);
        box-shadow: 2px 2px 15px rgba(30, 42, 120, 0.8); /* glow morado */
    
    }
/* Panel derecho */
.perfil-right {
    flex: 2;
    background: #e6e6e6 url('../img/FondoPuntos.png') repeat; /* azul claro */
    border-radius: 15px;
    padding: 100px 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    position: relative;
    
}

    /* Título */
    .perfil-right h1 {
        font-size: 2.7rem;
        font-weight: bold;
        color: #f9bb65;
        text-shadow: 3px 3px #1e5778;
        margin-bottom: 25px;
        display: flex;
        margin-left: 16%;
        gap: 10px;
        font-family: 'League Spartan', sans-serif;
        text-align: center;
        text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, /* Sombra suave */
        4px 3px 0px #1e5778;
    }

        .perfil-right h1 img {
            width: 60px;
            margin-top:-20px;
        }
/* Nueva grilla de dos columnas */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* columnas idénticas */
    gap: 20px 40px; /* espacio entre filas y columnas */
    width: 110%;
    align-items: start; /* alinea los elementos arriba */
    margin-bottom:20px;
    margin-left:-20px;
}

    .form-grid div {
        display: flex;
        flex-direction: column;
        width: 110%;
    }

    .form-grid label {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
        color: #333;
    }
    .form-grid input, .form-grid select {
        padding: 11px;
        border: none;
        border-radius: 25px;
        font-size: 14px;
        outline: none;
        box-shadow: inset 2px 3px 3px rgba(0,0,0,0.25);
        font-family: Montserrat, sans-serif;
        color: gray;
        width: 100%;
        box-sizing: border-box;
        
       
    }
       
.btn-guardar {
    margin-top: 20px;
    padding: 12px;
    background-color: #7ec0e0;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    align-self: center;
    box-shadow: 5px 7px #367172;
    transition: background 0.3s ease;
    text-shadow: 1px 2px 3px rgba(0,0,0,.2);
}

    .btn-guardar:hover {
        background: rgba(30, 42, 120, 0.7);
        box-shadow: 7px 7px 13px rgba(30, 42, 120, 0.99); /* glow morado */
        border: 1px solid white;
    }
.btn-volver {
    margin-top:5px;
    text-align: center;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px 2.5px rgba(0,0,0,.7);
}
    .btn-volver:hover {
        color: #367172;
        text-shadow:none
    }
.botones-acciones{
    margin-top:-15px;
    text-align:center;
}