
body {
    background: #e6e6e6 url('../img/FondoPuntos.png') repeat;
    font-family: 'Montserrat', sans-serif;
}
/* Contenedor principal */
.solicitud-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    font-family: 'Poppins', sans-serif;
    margin-top: 15%;
    margin-bottom:8%;
}
/* Tarjeta del formulario */
.form-section {
    background-color: rgba(14, 43, 91, 0.8);
    color: white;
    padding: 2.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 490px;
}

    .form-section h1 {
        font-family: 'League Spartan', sans-serif;
        color: #ffd966;
        font-size: 2.1rem;
        font-weight: bold;
        text-shadow: 3px 3px #4d4d4d;
    }

/* Campos del formulario */
.formulario-tutoria {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
    /* ---------- Labels ---------- */
    .formulario-tutoria label {
        text-align: left;
        font-weight: 600;
        color: white;
        margin-bottom: -0.4rem;
        margin-top: 0.8rem;
        font-size: 1rem;
        display: block;
        text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
        font-family: 'Montserrat', sans-serif;
    }
    .formulario-tutoria input,
    .formulario-tutoria select,
    .formulario-tutoria textarea {
        font-family: 'Montserrat', sans-serif;
        border: none;
        border-radius: 30px;
        padding: 0.8rem 1rem;
        font-size: 0.95em;
        outline: none;
        color: #444;
        width: 100%;
    }

        /* Placeholder color */
        .formulario-tutoria input::placeholder,
        .formulario-tutoria textarea::placeholder {
            color: #4d4d4d;
            font-size:0.9em;
        }

    /* Área de texto */
    .formulario-tutoria textarea {
        resize: none;
        height: 100px;
    }


/* Botón enviar */
.btn-enviar {
    background-color: #ffd966;
    color: #4d4d4d;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.3s ease;
}

    .btn-enviar:hover {
        background-color: #f9bb65;
        transform: scale(1.03);
    }


/* Responsive */
@media (max-width: 480px) {
    .form-section {
        width: 90%;
        padding: 2rem 1.5rem;
    }

        .form-section h1 {
            font-size: 1.4rem;
        }
}
