@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: url('../img/FondoAdmin2.png');
    background-size: cover;
}


/* Contenedor principal */
.administrador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenido */
.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}

    /* Título */
    .contenido h1 {
        font-family: 'League Spartan', sans-serif;
        font-size: 2.5em;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: #f9bb65;
        text-shadow: 3.5px 2px 2px #1e5778, 3.5px 2px 2px #1e5778, 3.5px 2px 0 #1e5778, 1.5px 0 0 #1e5778;
    }

/* Menú */
.opciones {
    background: rgba(192, 192, 192, 0.7);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 540px;
    margin-top: 14%;
}

    .opciones button {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #228f8f;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 15px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background 0.3s ease;
        text-align: left;
        border: 2px solid #1e7b76; /* Borde azul oscuro */
        box-shadow: 8px 10px white;
    }

        .opciones button img {
            width: 52px;
            height: auto;
        }

        .opciones button:hover {
            background: #185d59;
            width: 480px;
        }

/* Imagen personaje */
.imagen-personaje img {
    width: 500px;
    margin-top: 20%;
    height: auto;
}
