@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: #e6e6e6 url('../img/FondoPerfil.png') repeat; /* azul claro */
    background-size: cover;
}


/* Contenedor principal */
.coordinador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Contenido */
.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}

    /* Título */
    .contenido h1 {
        font-family: 'League Spartan', sans-serif;
        font-size: 2.4em;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: #f9bb65;     
        text-shadow: 3px 3px #1e5778;
        text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, /* Sombra suave */
        4px 3px 0px #1e5778;
        font-family: Montserrat, sans-serif;
    }

/* Menú */
.opciones {
    background: rgba(192, 192, 192, 0.7);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 500px;
    margin-top: 13%;
    align-items: center;
    margin-left: 8%;
}

    .opciones button {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #228f8f;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 8px 15px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background 0.3s ease;
        text-align: left;
        border: 2px solid #1e7b76; /* Borde azul oscuro */
        box-shadow: 8px 10px white;
        width:90%;
    }

        .opciones button img {
            width: 52px;
            height: auto;
        }

        .opciones button:hover {
            background: #185d59;
           transform: scale(1.05)
        }

/* Imagen personaje */
.imagen-personaje img {
    width: 420px;
    margin-top: 32%;
    height: auto;
    margin-right:70px;

}
