@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: url('../img/FondoPanelT.png') no-repeat center center/cover;
}


/* Contenedor principal */
.tutorado-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenido */
.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}

    /* Título */
    .contenido h1 {
        font-family: 'League Spartan', sans-serif;
        font-size: 2.8em;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 800;
        color: #228f8f;
        text-shadow: 4.5px 3.5px 0px white;
    }

/* Menú */
.opciones {
    background: rgba(192, 192, 192, 0.5);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    margin-top: 12%;
    align-items:center;
    margin-left:4%;
}

    .opciones button, .opciones a {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #228f8f;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 7px 15px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background 0.3s ease;
        text-align: left;
        border: 2px solid #1e7b76; /* Borde azul oscuro */
        box-shadow: 8px 10px white;
        width:380px;
        text-decoration:none;

    }

        .opciones button img, .opciones a img {
            width: 52px;
            height: auto;
        }

        .opciones button:hover, .opciones a:hover {
            background: #1f827c;
            width: 400px;
        }

/* Imagen personaje */
.imagen-personaje img {
    width: 500px;
    margin-top: 20%;
    height: auto;
    margin-right:20px;
}
