/*Popup Ver detalles Usuario*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
}

.popup-contenido {
    border-radius: 25px;
    background: #fff;
    padding: 15px 45px;
    width: 490px;
    text-align: left;
    border: 3px solid #5886a5;
    box-shadow: 9px 10px 0 #b5b2a7;
}
.popup-elim {
    text-align: center;
    padding: 40px 5px;
    box-shadow: 5px 6px 0 #b5b2a7;
}
    .popup-elim button {
        border-radius: 20px;
        border: none;
        margin-top: 20px;
        padding: 10px;
        font-weight: 600;
        font-size: 0.9em;
        box-shadow: 3px 6px 0 #afb3b2;
        
    }
    
.texto-elim {
    text-align: center;
    font-size: 1.1em;
}
#btn-si {
    background-color: #219084;
    color: white;

}
#btn-si:hover {
    background-color: #167d73;
    color: white;
}

#btn-no {
    background-color: #eb6b66;
    color: white;
}
    #btn-no:hover {
        background-color: #de4e49;
        color: white;
    }
.popup-contenido h3 {
    margin-bottom: 15px;
    color: #5886a5;
    text-align: center;
    margin-top: 15px;
    font-size: 2.3em;
    text-shadow: -1px -1px 0 rgba(0,0,0, .8), 1px -1px 0 rgba(0,0,0, .8), -1px 1px 0 rgba(0,0,0, .8), 1px 1px 0 rgba(0,0,0, .8), /* Sombra suave */
    2px 2px 3px rgba(0,0,0,0.6);

}

    .popup-contenido ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0px;
      
    }

    .popup-contenido li {
        margin-bottom: 8px;
        font-size: 15px;
    }
.popup-contenido
.btn-cerrar-popup {
    background: #1e5778;
    color: #fff;
    box-shadow: 4px 6px gray;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    margin-left: 34%;
    margin-top: 0px;
    font-size: 1em;
    padding: 10px 35px;
    border: none;   
}
        .popup-contenido
        .btn-cerrar-popup:hover {
            background: #fbc959;
            box-shadow: 7px 5px 13px rgba(30, 42, 120, 0.7);
            color:black;
        }