.modal-fondo {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-family:Montserrat, sans-serif;
}

    .modal-fondo.is-open {
        display: flex;
    }

.modal-tarjeta {
    background: rgba(255,255,255,0.95);
    max-width: 640px;
    width: 80%;
    border-radius: 26px;
    border: 3px solid #5886a5;
    padding: 22px 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.modal-icono{
    text-align:center;
    margin-top:10px;

}
.icono-error {
    fill: #f87171; /* rojo suave */
    width: 85px;
    height: 85px;
}

.icono-exito {
    fill: #4ade80; /* verde suave */
    width: 85px;
    height: 85px;
    
}

.icono-info {
    fill: #60a5fa; /* azul suave */
}

.modal-titulo {
    text-align: center;
    margin: 10px 0;
    font-size: 2.3rem;
    color: #5886a5;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, /* Sombra suave */
    2px 2px 5px rgba(0,0,0,0.7);
}

.modal-mensaje {
    text-align: center;
    margin: 18px 0 23px;
    white-space: pre-wrap;
    font-size: 1.1em;
    line-height: 25px;
}

.modal-acciones {
    text-align: center;
}

.btn {
    border: 0;
    padding: 10px 16px;
    border-radius: 30px;
    cursor: pointer;
    width:150px;
    margin-top:10px;
    text-align:center;
    font-weight:700;
}

.btn-principal {
    background: #1e5778;
    color: #fff;
    box-shadow: 5px 7px gray;
    margin-bottom: 28px;
    text-align: center;
    margin-left:auto;
    font-size:0.99em;
    

}
    .btn-principal:hover {
        background: #fbc959;
        box-shadow: 7px 7px 13px rgba(30, 42, 120, 0.7); /* glow morado */
        color:black; 
    }

.etiqueta {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 999px;
    font-size: .75rem;
    margin-bottom: 18px;
}

/* --- Animación fade-out --- */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
        visibility: hidden;
    }
}

/* Clase que activa el efecto */
.modal-fondo.fade-out {
    animation: fadeOut 1s ease forwards;
}
