/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #fef7e7 url('zigzag.png') repeat; /* Fondo zigzag o sólido */
    color: #333;
}
main{
    margin-top:8%;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: white;
}

.usuario-icono {
    width: 35px;
    height: 35px;
    background: orange;
    border-radius: 50%;
}

/* ====== TÍTULO ====== */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.3rem;
    font-weight: bold;
    color: #fbc959;
    text-shadow: 3px 3px #1e5778;
    font-family: 'League Spartan', sans-serif;
}


/* ====== TOP 3 AVATARES ====== */
.top3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 30px;
}

.top-card {
    text-align: center;
    padding: 10px;
}

    .top-card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #ccc;
    }

    .top-card h3 {
        margin-top: 10px;
        font-size: 0.9rem;
    }

.oro {
    background: #ffde59;
    border-radius: 10px;
    padding: 15px;
    height:200px;
}

.plata {
    background: #b0d6ff;
    border-radius: 10px;
    padding: 8px;
}

.bronce {
    background: #b8e2c8;
    border-radius: 10px;
    padding: 8px;
}

/* ====== LISTADO ====== */
.ranking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.ranking-item {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    gap: 15px;
}

    .ranking-item img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }


.ranking-info {
    flex: 1;
}

    .ranking-info p {
        font-size: 0.9rem;
        margin: 2px 0;
    }
.estrellas-container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
}

.estrellas {
    color: #FFD700; /* dorado */
}
.estrella-vacia {
    color: lightgray;
}

.promedio {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}



.ranking-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .ranking-buttons button {
        border: none;
        border-radius: 20px;
        padding: 8px 12px;
        cursor: pointer;
        font-weight: bold;
        font-size: 0.8rem;
    }

.perfil {
    background: #ffcf66;
    color: #333;
}

.solicitar {
    background: #27c7a8;
    color: white;
}
