/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('/img/FondoRanking.png') center; /* Fondo zigzag o sólido */
    color: #333;
}

main {
    margin-top: 8%;
}


/* ====== TÍTULO ====== */
h1 {
    text-align: center;
    margin: 0;
    font-size: 2.3rem;
    font-weight: bold;
    color: #fbc959;
    text-shadow: 3px 3px #1e5778;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, /* Sombra suave */
    4px 3px 0px #1e5778;
    font-family: Montserrat, sans-serif;
}

.caja-trofeo {
    text-align: center;
    align-items: center;
    padding: 0;
    margin-bottom: -10px;
}

.trofeo {
    width: 90px;
    height: auto;
}


/* ====== TOP 3 AVATARES ====== */
.top3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
}


.top-card {
    text-align: center;
    padding: 10px;
    box-shadow:8px 9px #ccc;

}

    .top-card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #ccc;
    }

    .top-card h3 {
        font-size: 0.95rem;
    }

.oro {
    background: #ffde59;
    border-radius: 10px;
    padding: 15px;
    height: 210px;
    width: 235px;
}

    .oro img {
        width: 120px;
        height: 120px;
    }

.plata {
    background: #b0d6ff;
    border-radius: 10px;
    padding-top: 22px;
    width: 210px;
    height: 195px;
}

.bronce {
    background: #9b94b3;
    border-radius: 10px;
    padding: 8px;
    width: 210px;
    height: 180px;
}

/* ====== LISTADO ====== */
.ranking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    align-items: center;
}

.caja-num-info {
    display: flex;
    width: 60%;
}

.caja-numero {
    flex: 0.1;
}

.numero1, .numero2 {
    width: 80px;
}

.numero3 {
    width: 59px;
    margin-right: 10px;
    margin-left: 12px;
}

.ranking-item {
    display: flex;
    flex: 2;
    align-items: center;
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    max-width: 700px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    gap: 15px;
}

    .ranking-item img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }


.ranking-info {
    flex: 1;
}

    .ranking-info p {
        font-size: 1em;
        margin: 2px 0;
    }

.estrellas-container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
}

.estrellas {
    color: #FFD700; /* dorado */
}

.estrella-vacia {
    color: lightgray;
}

.promedio {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}



.ranking-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align:center;
    align-items:center;
    
}

    .ranking-buttons a {
        text-decoration:none;
        border: none;
        border-radius: 20px;
        padding: 8px 12px;
        cursor: pointer;
        font-weight: bold;
        font-size: 0.8rem;
    }

.btn-perfil {
    background: #ffcf66;
    color: #333;
    border-radius: 20px;
    text-decoration: none;
    padding: 6px 1px;
    width:110px;
    text-align: center;
    color: rgba(0,0,0,0.7);
    font-weight: 700;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.4);
    font-size: 0.96em;
    font-family: 'Montserrat', sans-serif;
}
    .btn-perfil:hover {
        transform: scale(1.04); /* aumenta un 10% */
        color: #333;
    }

.btn-solicitar {
    background: #27c7a8;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 12px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size:0.96em;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}
    .btn-solicitar:hover {
        transform: scale(1.05); /* aumenta un 10% */
        color: white;
    }

.acciones-ranking {
    margin-bottom: 50px;
    text-align:center;
    margin-top:-10px;
}
.btn-volver {
    background: #7ec0e0;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 5px 7px #ccc;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
    .btn-volver:hover {
        color: white;
        background: rgba(30, 42, 120, 0.65);
        border: 2px solid white;
        transform: scale(1.05)
    }