body {
    background: url('../img/FondoZigAzul.png') repeat;
    font-family: Montserrat, sans-serif;
}
.container {
    max-width: 520px;
    margin-top: 180px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 50px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0,0,0,0.2);
}
label {
    font-size: 1.05em;
}
.input-edc, .form-control {
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    padding: 8px 12px;
    margin-top: 10px;
    width: 100%;
    border: 2px solid gray;
    outline: none; /* importante */
    font-size:1em;
}

    .input-edc:focus, .form-control:focus {
        border: 2px solid rgba(30, 42, 120, 1) !important; /* morado bonito */
        box-shadow: 0 0 5px rgba(106, 27, 154, 0.5); /* brillo morado */
        outline: none;
    }

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-size: 2.05rem;
    font-weight: bold;
    color: #fbc959;
    text-shadow: 3px 3px #1e5778;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, /* Sombra suave */
    4px 3px 0px #1e5778;
    font-family: Montserrat, sans-serif;
}

.btn-primary, .btn-success {
    border-radius: 25px;
    background-color: #7ec0e0;
    border: none;
    padding: 10px;
    margin-left: 15%;
    width: 70%;
    margin-top: 30px;
    color: white;
    box-shadow: 5px 7px #367172;
    font-size:15px;
}

    .btn-primary:hover, .btn-success:hover {
        background: rgba(30, 42, 120, 0.7);
        box-shadow: 7px 7px 13px rgba(30, 42, 120, 0.99);
    }
.toggle-password {
    position: absolute;
    right: 470px;
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem; /* tamaño del icono */
    color: #666;
    margin-top:14px;
}

    .toggle-password:hover {
        color: #000; /* más oscuro al pasar el mouse */
    }

