@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=M+PLUS+Rounded+1c:wght@500;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbedd9;
}

main {
   
    display: flex;
    background-color: #fbedd9;
}

.left {
    flex: 1.38; /* más espacio a la izquierda */
}

.right {
    
    flex: 1.4; /* menos espacio a la derecha */
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    background: url('../img/FondoConsultarUsu.png') center;
}

    .left img {
        margin-top: -35px;
        max-width: 88%;
        height: auto;
        opacity: 0.905; /* Ajusta entre 0 (invisible) y 1 (opaco) */
    }

.right {
    background: url('../img/FondoPuntos.png') repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 120px;
    box-sizing: border-box;
   
}

    .right h1 {
        text-align: center;
        margin-top: 20%;
        margin-bottom: 10px;
        font-family: Montserrat, sans-serif;
        font-size: 2.4em;
        font-weight: bold;
        margin-bottom: 18px;
        text-shadow: 3.5px 2px 2px #133d6b, 3.5px 2px 2px #133d6b, 3.5px 2px 0 #133d6b, 1.5px 0 0 #133d6b;
        color: #fbc959;
    }

/* Formulario */
form {
    margin-top: -30px;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 70px;
}

    form input, form select {
        font-family: Montserrat, sans-serif;
        padding: 10px;
        border: none;
        border-radius: 35px;
        outline: none;
        font-size: 14.5px;
        background: white;
       
        box-shadow: inset 2px 3px 3px rgba(0,0,0,0.25);
    }

        form input:focus, form select:focus {
            border: 2.5px solid #1e2a78; /* morado */
            box-shadow: 7px 7px 13px rgba(30, 42, 120, 0.9); /* glow morado */
        }
/* Mientras el select esté en estado inválido (porque value="") */
select:required:invalid {
    color: gray; /* gris clarito para el “placeholder” */
}

.radio-label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(0,0,0,0.8);
    
}

label {
    color: rgba(0,0,0,0.8);
    font-size: 16.6px;
}
input[type="radio"] {
    width: 22px; /* ancho base */
    height: 22px; /* alto base */
    transform: scale(1.2); /* los agranda 1.5 veces */
    accent-color: #fbc959; /* color personalizado (soportado en Chrome, Edge, Firefox) */
    cursor: pointer;
    margin-right: 8px; /* espacio entre el círculo y el texto */
    box-shadow: none;
}
    input[type="radio"]:focus {
        box-shadow: none;
    }

.acciones{
    margin-bottom:30px;
}
/* Botón */
button {
    margin-top: 0px;
    padding: 12px 5px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 5px 7px #367172;
}

    button:hover {
        background: #fbc959;
        box-shadow: 7px 7px 13px rgba(30, 42, 120, 0.99);
    }

.btn-secundario {

    text-align: center;
    color: white;
    font-weight: 750;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    margin-left: 163px;
    font-size:18.5px;
}

    .btn-secundario:hover {
        color: wheat;
        text-shadow: 5px 5px 5px 5px 3px rgba(0,0,0,.55);
        
    }