@{
    ViewData["Title"] = "Tutorado";
    Layout = "_LayoutUsuario";
}
@section Styles {
    <link rel="stylesheet" href="~/estilos/panelTutorado.css" />
}
<main class="tutorado-container">

    <!-- CONTENIDO -->
    <section class="contenido">
        <h1>BIENVENIDO @Model.Nombre.ToUpper()</h1>


        <div class="opciones">
            <a asp-controller="Tutorado" asp-action="EditarTutorado" class="btn-editar">
                <img src="~/img/Editar.png" alt="icono editar">
                EDITAR PERFIL
            </a>

            <a asp-controller="Tutorado" asp-action="BusquedaTutores" class="btn-editar">
                <img src="~/img/Busqueda.png" alt="icono búsqueda">
                BÚSQUEDA DE TUTORES
            </a>
            <a asp-controller="Tutorado" asp-action="SolicitudesTutorias" class="btn-editar">
                <img src="~/img/Solicitud.png" alt="icono solicitudes">
                SOLICITUDES DE TUTORÍAS
            </a>
            <a asp-controller="Tutorado" asp-action="HistorialTutorias" class="btn-editar">
                <img src="~/img/Historial.png" alt="icono historial">
                HISTORIAL DE TUTORÍAS
            </a>
        </div>

        <div class="imagen-personaje">
            <img src="~/img/FondoTutorado.png" alt="Ilustración tutorado">
        </div>
    </section>
</main>

