@{
    ViewData["Title"] = "Tutorado";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/estilos/panelTutorado.css" />
}
<main class="tutorado-container">

    <!-- CONTENIDO -->
    <section class="contenido">
        <h1>BIENVENIDO TUTORADO</h1>

        <div class="opciones">
            <button>
                <img src="~/img/Editar.png" alt="icono editar">
                EDITAR PERFIL
            </button>
            <button>
                <img src="~/img/Busqueda.png" alt="icono búsqueda">
                BÚSQUEDA DE TUTORES
            </button>
            <button>
                <img src="~/img/Solicitud.png" alt="icono solicitudes">
                SOLICITUDES DE TUTORÍAS
            </button>
            <button>
                <img src="~/img/Historial.png" alt="icono historial">
                HISTORIAL DE TUTORÍAS
            </button>
        </div>

        <div class="imagen-personaje">
            <img src="~/img/FondoTutorado.png" alt="Ilustración tutorado">
        </div>
    </section>
</main>

