@{
    ViewData["Title"] = "Administrador";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/estilos/panelCoordinador.css" />
}
<main class="coordinador-container">

    <!-- CONTENIDO -->
    <section class="contenido">
        <h1>BIENVENIDO COORDINADOR</h1>

        <div class="opciones">
            <button>
                <img src="~/img/BloqueoComentario.png" alt="icono bloqueo">
                BLOQUEAR COMENTARIOS
            </button>

            <button>
                <img src="~/img/ConsultarTuto.png" alt="icono consultarTuto">
                CONSULTAR TUTORÍAS
            </button>
            <button>
                <img src="~/img/GenerarReporte2.png" alt="icono generarReportes">
                GENERAR REPORTES
            </button>
            
        </div>

        <div class="imagen-personaje">
            <img src="~/img/FondoCoordinador.png" alt="Ilustración administrador">
        </div>
    </section>
</main>