
@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_Layout";
}
@section Styles {
   
     <link rel="stylesheet" href="~/estilos/inicioSesion.css">
}
<main>
    <section class="left">
        <img src="~/img/InicioSesion.png" alt="Estudiante">
    </section>

    <section class="right">
        <h1 class="visually-hidden">@ViewData["Title"]</h1>
        <form>
           

            <input type="text" placeholder="NÚMERO DE DOCUMENTO" required>

            <input type="password" placeholder="CONTRASEÑA" required>

            <button type="submit">INICIAR SESIÓN</button>
        </form>
    </section>
</main>

