@model EduConnect_Front.Dtos.ObtenerUsuarioDto
@{
    ViewData["Title"] = "Tutorado";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/estilos/panelTutor.css" />
}
<main class="tutorado-container">

    <!-- CONTENIDO -->
    <section class="contenido">
        <h1>BIENVENIDO @Model.Nombre.ToUpper()</h1>

        <div class="opciones">
            <button>
                <img src="~/img/Editar.png" alt="icono editar">
                EDITAR PERFIL
            </button>

           
            <a asp-controller="Tutor" asp-action="SolicitudesTutorias" class="btn-panel">
                <img src="~/img/Solicitud.png" alt="icono solicitudes">
                SOLICITUDES DE TUTORÍAS
            </a>
            <a asp-controller="Tutor" asp-action="HistorialTutor" class="btn-panel">
                <img src="~/img/Historial.png" alt="icono solicitudes">
                HISTORIAL DE TUTORÍAS
            </a>
            
            <button>
                <img src="~/img/MisComent.png" alt="icono comentarios">
                MIS COMENTARIOS
            </button>
        </div>

        <div class="imagen-personaje">
            <img src="~/img/FondoTutor.png" alt="Ilustración tutorado">
        </div>
    </section>
</main>

