@{
    ViewData["Title"] = "Administrador";
    Layout = "_LayoutUsuario";
}
@section Styles {
    <link rel="stylesheet" href="~/estilos/panelAdministrador.css" />
}
<main class="administrador-container">

    <!-- CONTENIDO -->
    <section class="contenido">
        <h1>BIENVENIDO @Model.Nombre.ToUpper()</h1>

        <div class="opciones">
            <a asp-controller="Administrador" asp-action="RegistrarUsuarios" class="btn-opcion">
                <img src="~/img/RegistrarUsu.png" alt="icono registrarUsu">
                REGISTRAR USUARIO
            </a>

            <a asp-controller="Administrador" asp-action="ConsultarUsuarios" class="btn-opcion">
                <img src="~/img/ConsultarUsu.png" alt="icono consultarUsu">
                CONSULTAR USUARIO
            </a>

            <a asp-controller="Administrador" asp-action="RegistrarMaterias" class="btn-opcion">
                <img src="~/img/RegistrarMat.png" alt="icono registrarMat">
                REGISTRAR MATERIAS
            </a>

            <a asp-controller="Administrador" asp-action="ConsultarMaterias" class="btn-opcion">
                <img src="~/img/ConsultarMat.png" alt="icono consultarMat">
                CONSULTAR MATERIAS
            </a>

            <a asp-controller="Administrador" asp-action="GenerarReportes" class="btn-opcion">
                <img src="~/img/GenerarReporte.png" alt="icono generarRepo">
                GENERAR REPORTES
            </a>
        </div>

       
    </section>
    <div class="imagen-personaje">
        <img src="~/img/FondoAdmin.png" alt="Ilustración administrador">
    </div>
</main>
