@{
    ViewData["Title"] = "Registrar Usuario";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/estilos/registroUsuarios.css" />
}

<main>
    <section class="left">
        <img src="~/img/Registro2.png" alt="Estudiante">
    </section>

    <section class="right">
        <h1 class="visually-hidden">@ViewData["Title"]</h1>
        <form>
            <input type="text" placeholder="NOMBRES" required>
            <input type="text" placeholder="APELLIDOS" required>

            <select required>
                <option value="">TIPO DE DOCUMENTO</option>
                <option value="cc">Cédula</option>
                <option value="ti">Tarjeta de Identidad</option>
                <option value="pp">Pasaporte</option>
            </select>

            <input type="text" placeholder="NÚMERO DE DOCUMENTO" required>
            <input type="tel" placeholder="TELÉFONO" required>
            <input type="email" placeholder="CORREO" required>
            <input type="text" placeholder="CARRERA" required>

            <select required>
                <option value="">SEMESTRE</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>

            <input type="password" placeholder="CONTRASEÑA" required>

            <p class="radio-label">Elije el rol del usuario</p>
            <label><input type="radio" name="rol" required>Tutor</label>
            <label><input type="radio" name="rol" class="radio-opcion">Tutorado</label>
            <label><input type="radio" name="rol" class="radio-opcion">Coordinador</label>
            <button type="submit">GUARDAR</button>
        </form>
    </section>
</main>